In [1]:
# 1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej animals wczytaj zawartość pliku sleep_time.csv. Pobierz wszystkie kolumny, a kolumnę ID wybierz jako indeks. Podczas wczytywania zamień wszystkie wartości NaN na 0. Wyświetl nagłówek zaimportowanego pliku.
# 2. W kolumnie vore znajduje się informacja o tym czy zwierzę jest roślinożerne (herbi), mięsożerne (carni) i wszystkożerne (omni). Korzystając z metody where wybierz wiersze opisujące zwierzęta roślinożerne. Wynik zapisz w zmiennej herbi
# 3. Ile wierszy jest w zmiennej herbi?
# 4. Ile wierszy jest w zmiennej herbi po usunięciu wartości NaN?
# 5. Utwórz zmienną carni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zostaną tylko
#wiersze zwierząt mięsożernych. Wyświetl informację o ilości wierszy w zmiennej carni oraz o ilości wierszy
#po usunięciu wartości NaN.
# 6. Utwórz zmienną omni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko
#wiersze zwierząt wszystkożernych. Wyświetl informację o ilości wierszy w zmiennej omni oraz o ilości
#wierszy po usunięciu wartości NaN.
# 7. Wyświetl średni czas snu (kolumna sleep_total) dla zwierząt roślino-, mieso- i wszystkożernych. Czy
#można próbować postawić hipotezę, że rodzaj pokarmu wpływa na czas snu?
# 8. Korzystając z polecenia query wybierz te wiersze, które opisują zwierzęta śpiące więcej niż 14 godzin na
#dobę (kolumna sleep_total)
# 9. Do warunku z poprzedniego zadania dodaj: rodzaj zwierzęcia (kolumna vore) ma być roślinożerny
#(wartość herbi)
# 10. Do warunku z poprzedniego zadania dodaj: waga ciała (kolumna bodywt) ma być większa niż 1

In [2]:
import pandas as pd 
import numpy as np 
animals = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/sleep_time.csv',index_col="ID").fillna(0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [3]:
herbi = animals.where( animals['vore'] == 'herbi')

In [4]:
len(herbi)

83

In [5]:
len(herbi.dropna())

32

In [6]:
carni = animals.where( animals['vore'] == 'carni') 
print(len(carni))
print(len(carni.dropna()))

83
19

In [7]:
omni = animals.where( animals['vore'] == 'omni') 
print(len(omni))
print(len(omni.dropna()))

83
20