In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math as math 
frame = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/Mcdonalds.csv',usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [6]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [7]:
has400CalOrMore = frame['Calories'] >= 400

In [11]:
has400CalOrMore[:5]

0    False
1    False
2    False
3     True
4     True
Name: Calories, dtype: bool

In [12]:
frame.where(has400CalOrMore).head()
# 0 1 2 wyzerowane NaN

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [13]:
frame[has400CalOrMore].head()
# opuszcza te wartosci ktor nie spelniaja warunek

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [15]:
frame.where(has400CalOrMore).dropna(how='all').head()
# usuwac nalezy wszystkie wersze ktore sa puste

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520.0,30.0

In [18]:
frame.query('Category == "Desserts"').head()
# troche SQL
# expr --> najmocniejsze czesv query mkzna tu umiesciac wyrazenie ktore wygladaja jak SQL
# inplace 
# expr ---> np wyswietlicz tylko te dania ktore naleza do kategorii desery 
# nazwa kolumny category rowna sie wartosc

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [19]:
frame.query('Category in ["Dessers","Beverages"]').head()
# pokaz produkt wtedy jk jest oznaczony jako deser lub jako napoj

      Category                        Item  Serving Size  Calories  TotalFat
110  Beverages   Coca-Cola Classic (Small)  16 fl oz cup       140       0.0
111  Beverages  Coca-Cola Classic (Medium)  21 fl oz cup       200       0.0
112  Beverages   Coca-Cola Classic (Large)  30 fl oz cup       280       0.0
113  Beverages   Coca-Cola Classic (Child)  12 fl oz cup       100       0.0
114  Beverages           Diet Coke (Small)  16 fl oz cup         0       0.0

In [20]:
frame.query('Category == "Desserts" and Calories < 200').head()
# sa deserami i ilosc kalorii mniej niz 200

     Category                   Item     Serving Size  Calories  TotalFat
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5