In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
monotoniclist = (1,2,4,67,99)
monotonicSeries = pd.Series(monotoniclist)
monotonicSeries

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [4]:
monotonicSeries.sum()

173

In [5]:
monotonicSeries.min()

1

In [6]:
monotonicSeries.max()

99

In [7]:
monotonicSeries.mean()
# srednia

34.6

In [8]:
monotonicSeries.count()
# ile jest elementow w data series

5

In [9]:
monotonicSeries.size

5

In [10]:
monotonicSeries.product()
# wszystko wymnaza przez siebie po kolei

53064

In [13]:
monotonicSeries.index
# jak zostal zbudowany index

RangeIndex(start=0, stop=5, step=1)

In [14]:
monotonicSeries.keys()

RangeIndex(start=0, stop=5, step=1)

In [15]:
monotonicSeries.values
#atrybut

array([ 1,  2,  4, 67, 99])

In [19]:
 monotonicSeries.get_values()
    # metoda

AttributeError: 'Series' object has no attribute 'get_values'

In [20]:
monotonicSeries.to_list()
# robi nam liste

[1, 2, 4, 67, 99]

In [22]:
monotonicSeries.add(10)
# do kazdej danej dodaje 10

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [24]:
monotonicSeries
# stare dane bo w pandas ciezko modyfikowac dane bardziej tworzy kopie

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [25]:
# zeby zapisac wynik operacji add 10 
newSeries = monotonicSeries.add(10)

In [26]:
newSeries

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [27]:
    ### Jak przekazywac parametry

In [28]:
currencies = ['USD','EUR','PLN','EUR','EUR']
countries = ['USA','Spain','Poland','Portugal','Italy']

In [31]:
cunSeries = pd.Series(currencies, countries)
# utworzyc serie ktorej indexem ma byc symwol waluty a wartos nazwa kraju 
cunSeries

USA         USD
Spain       EUR
Poland      PLN
Portugal    EUR
Italy       EUR
dtype: object

In [34]:
cunSeries = pd.Series(countries, currencies)
cunSeries
# zmienilismy miejscami ale to juz jest upewnie inny obiekt

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [40]:
# w jakie kolejnosci to robic 
cunSeries = pd.Series(data = countries, index = currencies)
# dane maja byc pobierane z tego a index z tego 
cunSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [41]:
cunSeries = pd.Series( index = currencies,data = countries)
cunSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [42]:
# to bedzie blad bo trzeba sie zdecydowac 
# cunSeries = pd.Series(index = currencies, countries)

In [44]:
cunSeries = pd.Series(index = currencies, data = countries)
# Shift Tab * 2(tan) * 3
cunSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [48]:
dictCountry = {'USD': 'USA' ,'USD': 'USA'}

In [49]:
dictCoutnry

NameError: name 'dictCoutnry' is not defined

In [50]:
dictCountry = {'USD': 'USA' ,'USD': 'Ecuador'}
# Bedzie widac ttylko ostatnia zapisana wartosc to znaczy ze dolary obiawiazuje w Eccuador

In [51]:
dictCountry

{'USD': 'Ecuador'}