In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math as math

In [2]:
frame = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Mcdonalds.csv")

In [6]:
series = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Mcdonalds.csv", usecols=["Item","Calories"],index_col="Item").squeeze()

In [7]:
frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [8]:
series.count()
# pozwala ustalic ile elemetnow znajduje sie w canej serii ile wierszy

260

In [9]:
frame.count()
# zostala urochomiona dla kazdej kolumny nie zaleznie 
# ile jest znanych elementuw w tej kolumnie znanych to znaczy innych niz NaN
# NaN nie zostaja uzwglednione

Category                         260
Item                             260
Serving Size                     260
Calories                         260
Calories from Fat                260
TotalFat                         260
Total Fat (% Daily Value)        260
Saturated Fat                    260
Saturated Fat (% Daily Value)    260
Trans Fat                        260
Cholesterol                      260
Cholesterol (% Daily Value)      260
Sodium                           260
Sodium (% Daily Value)           260
Carbohydrates                    260
Carbohydrates (% Daily Value)    260
Dietary Fiber                    260
Dietary Fiber (% Daily Value)    260
Sugars                           260
Protein                          260
Vitamin A (% Daily Value)        260
Vitamin C (% Daily Value)        260
Calcium (% Daily Value)          260
Iron (% Daily Value)             260
dtype: int64

In [10]:
len(series)

260

In [11]:
len(frame)

260

In [12]:
series.dtypes
# z jaim rodzajem typu mamy obiekt

dtype('int64')

In [13]:
frame.dtypes
# wartosc zostaly wygenerowane dla kazdej kolumny oddzielnie 
# int liczby 
# float wartosc z przecinkiem

Category                          object
Item                              object
Serving Size                      object
Calories                           int64
Calories from Fat                  int64
TotalFat                         float64
Total Fat (% Daily Value)          int64
Saturated Fat                    float64
Saturated Fat (% Daily Value)      int64
Trans Fat                        float64
Cholesterol                        int64
Cholesterol (% Daily Value)        int64
Sodium                             int64
Sodium (% Daily Value)             int64
Carbohydrates                      int64
Carbohydrates (% Daily Value)      int64
Dietary Fiber                      int64
Dietary Fiber (% Daily Value)      int64
Sugars                             int64
Protein                            int64
Vitamin A (% Daily Value)          int64
Vitamin C (% Daily Value)          int64
Calcium (% Daily Value)            int64
Iron (% Daily Value)               int64
dtype: object

In [26]:
series.value_counts()
# series.get_dtype_counts() ----> starsza wersja 
# funkcja w przypadku serii to jeden jedyny typ dla jednej jedynej kolumny ktory wystepuje w obiekcie serii to int

0      16
340    10
430    10
280     9
250     8
       ..
640     1
800     1
740     1
620     1
810     1
Name: Calories, Length: 78, dtype: int64

In [45]:
series.dtypes.value_counts()
# series.dtypes.value_counts()   NIEWIEN CZEMU TO NIE DZIALA 
# result = Series(series.get_dtype_counts())
# series.get_dtype_counts()
# result = series(DataFrame(series)._data.get_dtype_counts())
# series.dtypes.value_counts().index
# series_dtype.counts().index
# series.dtype.value_counts().index

AttributeError: 'numpy.dtype[int64]' object has no attribute 'value_counts'

In [48]:
series.shape
# jaki jest kratalt danych ile wymariowe sa te dane 
# jaki jest krztalt 
# tylko jeden wymiar dla tego jedna liczba

(260,)

In [50]:
frame.shape
# opwie nie tylko ile jest wierszy ale rowniez ile jest kolumn

(260, 24)

In [52]:
series.axes
# axes mozna pobrac tylko to co nam potrzebne 
# zwraca na temat wszytko z index 
# Index ----> item
# Ilosc elementow ile tam sie znajduje ich to ---> 260
#

[Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
        'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
        'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
        ...
        'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
        'McFlurry with M&M’s Candies (Small)',
        'McFlurry with M&M’s Candies (Medium)',
        'McFlurry with M&M’s Candies (Snack)',
        'McFlurry with Oreo Cookies (Small)',
        'McFlurry with Oreo Cookies (Medium)',
        'McFlurry with Oreo Cookies (Snack)',
        'McFlurry with Reese's Peanut Butter Cups (Medium)',
        'McFlurry with Reese's Peanut Butter Cups (Snack)'],
       dtype='object', name='Item', length=260)]

In [53]:
frame.axes
# mam doczenienie nie tylko z jedna osia wspolrzedna ale juz z dwiema 
# 1 ---> to index numery poszegolnych elementow 
# 2 ---> wykaz kolumn lista skladajaca sie z opisu jak ponumerowane poszczegolne elementy  2 liste opisujaca kolumne 
# pod czas importy zdecydowalismy ze index zostanie utworzony automatycznie od nowa 
#  liczba rozpoczynajaca od 0 
#  kazda kolejna liczba musi byc wieksza o 1 
#  ma sie zatrzymac na wartosci 260 
# kolumny trzaba

[RangeIndex(start=0, stop=260, step=1),
 Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
        'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
        'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
        'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
        'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
        'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
        'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
        'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
       dtype='object')]

In [54]:
series.index 
# jedna z osi wspolrzednyhc ktora sluzy do opisania obiektu frame 
# wyswietlenie wszystkich wartosci ktore sie znajduja w item

Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
       'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
       'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
       ...
       'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
       'McFlurry with M&M’s Candies (Small)',
       'McFlurry with M&M’s Candies (Medium)',
       'McFlurry with M&M’s Candies (Snack)',
       'McFlurry with Oreo Cookies (Small)',
       'McFlurry with Oreo Cookies (Medium)',
       'McFlurry with Oreo Cookies (Snack)',
       'McFlurry with Reese's Peanut Butter Cups (Medium)',
       'McFlurry with Reese's Peanut Butter Cups (Snack)'],
      dtype='object', name='Item', length=260)

In [55]:
frame.index

RangeIndex(start=0, stop=260, step=1)

In [56]:
# kiedy probujemy odlowac sie do osi wspolrzednej o nazwie columns 
# series.columns -----> bedzie blad

In [58]:
frame.columns
# istnieje taki atrybut jak kolumns i odpowida on wlasnie za druga os wporzednevh 
# os nazwy kolumn ktore zostalo wyswietlone

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [59]:
series.values
# mam doczynienie tylko z jedna kolumna wszystkie artosci mozna wyswietlic i rozdzielic ,

array([ 300,  250,  370,  450,  400,  430,  460,  520,  410,  470,  430,
        480,  510,  570,  460,  520,  410,  470,  540,  460,  400,  420,
        550,  500,  620,  570,  670,  740,  800,  640,  690, 1090, 1150,
        990, 1050,  350,  520,  300,  150,  460,  290,  260,  530,  520,
        600,  610,  540,  750,  240,  290,  430,  720,  380,  440,  430,
        430,  500,  510,  350,  670,  510,  610,  450,  750,  590,  430,
        360,  480,  430,  360,  630,  480,  610,  450,  670,  520,  540,
        380,  190,  280,  470,  940, 1880,  390,  140,  380,  220,  140,
        450,  290,  340,  260,  330,  250,  360,  280,  230,  340,  510,
        110,   20,   15,  150,  250,  160,  150,   45,  330,  340,  280,
        140,  200,  280,  100,    0,    0,    0,    0,  140,  190,  270,
        100,    0,    0,    0,    0,  140,  200,  280,  100,  100,  130,
         80,  150,  190,  280,    0,    0,    0,    0,    0,  150,  180,
        220,  110,    0,    0,    0,  170,  210,  280,  270,  340,  430,
        270,  330,  430,  260,  330,  420,  210,  260,  330,  100,  130,
        170,  200,  250,  310,  200,  250,  310,  190,  240,  300,  140,
        170,  220,  340,  410,  500,  270,  330,  390,  320,  390,  480,
        250,  310,  370,  360,  440,  540,  280,  340,  400,  140,  190,
        270,  130,  180,  260,  130,  180,  250,  120,  170,  240,   80,
        120,  160,  290,  350,  480,  240,  290,  390,  280,  340,  460,
        230,  270,  370,  450,  550,  670,  450,  550,  670,  530,  630,
        760,  220,  260,  340,  210,  250,  330,  210,  260,  340,  530,
        660,  820,  550,  690,  850,  560,  700,  850,  660,  820,  650,
        930,  430,  510,  690,  340,  810,  410])

frame.values
# mam yliste wartosci element dla tej listy jest obiekt ktory sklada sie z wiecej ilosci wlasciwosci 
# dla kazdej pozycji meni restauracji mc znajdziemy info 
# do jakiej kategorii nalezy jak sie nazywa jak jest pakowany ile jest kalorii ile jest tluszczu 
# lista list 
# 1 lista elementy 
# 2 lista opisuje jedna konkretna pozycje z meni 
# tych list jest 260

In [61]:
# series.info()
# nie bedzie dzialac nie wystepuje w obiekcie serii

In [62]:
frame.info()
# zobaczylismy info o indeksie RangeIndex
# ze mamy doczenienie z 24 kolumnami 
# a potem pojawily sie wartosci ktore sa nie nulowe sa okreslone i typ tych kolumn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Category                       260 non-null    object
 1   Item                           260 non-null    object
 2   Serving Size                   260 non-null    object
 3   Calories                       260 non-null    int64
 4   Calories from Fat              260 non-null    int64
 5   TotalFat                       260 non-null    float64
 6   Total Fat (% Daily Value)      260 non-null    int64
 7   Saturated Fat                  260 non-null    float64
 8   Saturated Fat (% Daily Value)  260 non-null    int64
 9   Trans Fat                      260 non-null    float64
 10  Cholesterol                    260 non-null    int64
 11  Cholesterol (% Daily Value)    260 non-null    int64
 12  Sodium                         260 non-null    int64
 13  Sodium (% Daily Value)         260 non-null    int64
 14  Carbohydrates                  260 non-null    int64
 15  Carbohydrates (% Daily Value)  260 non-null    int64
 16  Dietary Fiber                  260 non-null    int64
 17  Dietary Fiber (% Daily Value)  260 non-null    int64
 18  Sugars                         260 non-null    int64
 19  Protein                        260 non-null    int64
 20  Vitamin A (% Daily Value)      260 non-null    int64
 21  Vitamin C (% Daily Value)      260 non-null    int64
 22  Calcium (% Daily Value)        260 non-null    int64
 23  Iron (% Daily Value)           260 non-null    int64
dtypes: float64(3), int64(18), object(3)
memory usage: 48.9+ KB

In [63]:
# zajrzec do info

In [64]:
series.value_counts()

0      16
340    10
430    10
280     9
250     8
       ..
640     1
800     1
740     1
620     1
810     1
Name: Calories, Length: 78, dtype: int64

In [65]:
# frame.value_counts() 
# nie dzila na data frame 
# ale jak frame sklada sie z pojedynczych kolumn mozemy napisac 
frame["Calories"].value_counts()

0      16
340    10
430    10
280     9
250     8
       ..
640     1
800     1
740     1
620     1
810     1
Name: Calories, Length: 78, dtype: int64

In [66]:
frame["Category"].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Chicken & Fish        27
Beverages             27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

In [67]:
series.sample()
# przed analiza danych trzeba zobaczyc z czym na doczenienia 
# 1.czy te dane dobrej jakosci 
# 2.czy wiersze i kolumny sa pouzepelniane albo nie 
# 3. jakie rzedu sa wartosci liczbowe duze czy male 
# sample wylosuje kilka roznych wartosci i jak urochamiamia z akazdym razem jest inny wynnik

Item
Hotcakes    350
Name: Calories, dtype: int64

In [68]:
frame.sample()
# jest uruchomiona jedna pozycja z meni 
# losuje randomowo z wszystkiego i za kazdym razem cos innego

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
132,Beverages,Minute Maid 100% Apple Juice Box,6 fl oz (177 ml),80,0,0.0,0,0.0,0,0.0,...,21,7,0,0,19,0,0,100,10,0

In [69]:
frame.sample(n=3)
# ilosc elementow ktore maja byc wylosowane 3 pozycjo

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820,210,23.0,35,15.0,73,1.0,...,135,45,0,0,101,18,30,0,60,0
25,Breakfast,"Bacon, Egg & Cheese Bagel with Egg Whites",7.1 oz (201 g),570,230,25.0,39,9.0,45,0.5,...,55,18,3,12,8,30,10,15,20,15
200,Coffee & Tea,Caramel Iced Coffee (Medium),22 fl oz cup,180,60,7.0,11,4.5,22,0.0,...,29,10,0,0,28,1,4,0,4,0

In [70]:
frame.sample(n=3,axis="columns")
# mozemy losowac rowniez jezeli chodzi o kolumny

     Saturated Fat  Sodium (% Daily Value)  Vitamin A (% Daily Value)
0              5.0                      31                         10
1              3.0                      32                          6
2              8.0                      33                          8
3             10.0                      36                         15
4              8.0                      37                          6
..             ...                     ...                        ...
255            9.0                      12                         15
256           12.0                      16                         20
257            6.0                       8                         10
258           15.0                      17                         20
259            8.0                       8                         10

[260 rows x 3 columns]

In [71]:
frame.sample(n=3,axis="columns").head()
# mozemy losowac rowniez jezeli chodzi o kolumny i ograniczyc do pierwszych 5

   Protein  Calcium (% Daily Value)  Calories from Fat
0       17                       25                120
1       18                       25                 70
2       14                       25                200
3       21                       30                250
4       21                       25                210

In [72]:
frame.sample(frac=0.02)
# fraction ile proceny danych chcial bys zobaczyc w danej chwili na ekranie 
# np 2 procent ktore wystepuja w obiekcie frame

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
149,Coffee & Tea,Latte (Medium),16 fl oz cup,210,90,10.0,16,6.0,30,0.0,...,18,6,1,4,15,11,10,0,35,0
38,Breakfast,Hash Brown,2 oz (56 g),150,80,9.0,14,1.5,6,0.0,...,15,5,2,6,0,1,0,2,0,2
156,Coffee & Tea,Hazelnut Latte (Large),20 fl oz cup,430,120,14.0,21,8.0,39,0.0,...,62,21,1,6,58,15,15,0,50,2
65,Chicken & Fish,Southern Style Crispy Chicken Sandwich,5.6 oz (160 g),430,170,19.0,29,3.0,15,0.0,...,43,14,2,7,7,21,4,2,15,15
86,Salads,Premium Bacon Ranch Salad with Grilled Chicken,8.5 oz (241 g),220,80,8.0,13,4.0,20,0.0,...,8,3,2,10,4,29,110,30,15,8

In [73]:
# .count() --> wyswietliwa informacje o ilosci elementow ale w przypadku data frame zrob to oddzielnie dla kazdej kolumny 
# len() --> ilosc
# .dtypes --> typ , dataframe dla kazdej kolumny oddzielnie
# .get_dtype_counts() --> ile razy kazdy z typow jest uzywany w obiekcie frame 
# .shape --> opisuje krztalt danych w prz. obiektu data frame mamy doczenienie z prostokatem wiec wiadomo ile jest wierszy w tym obiekcie i ile jest kolumn 
# .axes --> pozwala uzyskac info o poszgolnych osiach wspolrzednych dla frame to 
#      .index 
#      .columns
#      .values
# .info --> nie jest dostepne dla obiektu serii 
# .value_counts()  --> ile razy w okreslonej kolumnie wystepuja posczegolne wartosci 
# .sample  --> wylosowanie pelnych informacji ze zbioru danych , mzna okreslac ilosc tych elementow parametrem n badz parametrem fraction 
#    mozna tez okreslic ze nie interesuje mnie analizowanie wierszy ale poszczegolnych kolumn