In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import numpy as np 
frame = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/mammals.csv')

In [2]:
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [4]:
# zmieniamy nazwe kolumn zeby lepiej opisywaly dane w kolumnach 
frame.columns

Index(['name', 'body', 'brain'], dtype='object')

In [6]:
frame.columns = ['name','bodyKg','brainKg']
# zeby zmienic nazwe kolumn

In [7]:
frame.head()

              name   bodyKg  brainKg
0       Arctic fox    3.385     44.5
1       Owl monkey    0.480     15.5
2  Mountain beaver    1.350      8.1
3              Cow  465.000    423.0
4        Grey wolf   36.330    119.5

In [8]:
# zmienic nazwe tylko jedenj kolumny 
# {'stara nazwa kolumny' : 'nowa nazwa kolumny'}
newColumnNames = {'bodyKg':'body_kg','brainKg':'brain_kg'}

In [9]:
# rename okresla ze nalezy zmienic nazwe kolumn przkazujac argument kolumns 
# columns przyjmuje wartosc newColumnsName 
# inplace=True zauktulizowany zostanie oryginalny obiekt 
frame.rename(columns = newColumnNames,inplace=True)

In [10]:
frame.head()

              name  body_kg  brain_kg
0       Arctic fox    3.385      44.5
1       Owl monkey    0.480      15.5
2  Mountain beaver    1.350       8.1
3              Cow  465.000     423.0
4        Grey wolf   36.330     119.5

In [51]:
# frame.rename 
# JAK ZMIENIAC WARTOSCI INDEKSU 
# importujemy jeszcze raz plik ale zaznaczamy ze kolumna indeksu ma byc name 
frame = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/mammals.csv',index_col='name')

In [52]:
frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [53]:
# chcemy zmienic wartosc indeksu dla wiersza w ktorej ew tej chwili ma napis ...
# zmieniamy krowe na krowa ladowa 
frame.rename(index = {'Cow' : 'Land cow'}, inplace = True)

In [54]:
# nastepnie przekacujemy obiekt slownika 
frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land cow         465.000  423.0
Grey wolf         36.330  119.5

In [55]:
# tworzymy kopie tego obiektu 
frameCopy = frame

In [56]:
frameCopy.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land cow         465.000  423.0
Grey wolf         36.330  119.5

In [57]:
# teraz pracujemy z frameCopy 
# Arctic fox zjadl cos i juz wzy 5 kg 
# wybiram wiersz a pozniej kolumne i przpisujemy wartosc 5 
frameCopy.loc['Arctic fox','body'] = 5
# nie jest kopia calosci w pamieci ale obiekt jest tym samym obiektem

In [58]:
frameCopy.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         36.33  119.5

In [72]:
# robimy rzeczywista kopie 
# zostal zapisay zupellnie nowy obiekt to samo co. w frame co pierwszy obiekt 
frameCopy = frame.copy()

In [77]:
frameCopy.loc['Grey wolf','body'] = 40

In [79]:
frameCopy.head()
# nowy obiekt gdzie ma Grey wolf 40

                   body  brain  brain_kg
name
Arctic fox         5.00   44.5       NaN
Owl monkey         0.48   15.5       NaN
Mountain beaver    1.35    8.1       NaN
Land cow         465.00  423.0       NaN
Grey wolf         40.00  119.5      40.0

In [80]:
frame.head()
# w oryginalnym ma 36.33

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         36.33  119.5