In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math as math

In [2]:
pok = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack','Name'],index_col='Name').squeeze()

In [3]:
pok.head()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [4]:
pok * 100

Name
Bulbasaur                 4900
Ivysaur                   6200
Venusaur                  8200
VenusaurMega Venusaur    10000
Charmander                5200
                         ...
Diancie                  10000
DiancieMega Diancie      16000
HoopaHoopa Confined      11000
HoopaHoopa Unbound       16000
Volcanion                11000
Name: Attack, Length: 800, dtype: int64

In [5]:
pok100 = pok * 100

In [6]:
pok100.head()

Name
Bulbasaur                 4900
Ivysaur                   6200
Venusaur                  8200
VenusaurMega Venusaur    10000
Charmander                5200
Name: Attack, dtype: int64

In [7]:
pok1 = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Type 1','Name'],index_col='Name').squeeze()

In [8]:
pok1.head()

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [15]:
# zeby nazwy te wartosci byly wyswietlane duzymi literami 
# pok.upper() to nie dziala 
pok2.upper.head()

NameError: name 'pok2' is not defined