In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import math as math

In [2]:
pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
# zeby indeksem stala sie kolumna o nazwie # 
# jak chcemy Data Series a nie Data Frame wpisac squeeze=True 
pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack'],squeeze=True)

/var/folders/9q/x17lv7hn4c76lb205vp38pt00000gn/T/ipykernel_38876/3681518123.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack'],squeeze=True)

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [4]:
# ale poprawnie sie wpisuje squeeze=True ---> (usecols=['name']).squeeze()
# indeks rozpoczynajacy od 0 i atak 
pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack']).squeeze()

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [5]:
# zmienic index paramettr to index_col
# zeby skorzystac z listy # trzabe ja jeszcze dodac do listy usecols ... + Attack
# numeeracja zaczela sie od 1 i index teraz juz jest # tak jak w pliku csv
pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack','#'],index_col='#').squeeze()

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [6]:
sep1 = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Attack','#'],index_col='#').squeeze()

In [7]:
sep1[5]

64

In [8]:
sep1[1:6]

#
2     62
3     82
3    100
4     52
5     64
Name: Attack, dtype: int64

In [9]:
sep1[[1,11,111]]

#
1      49
11     20
111    85
Name: Attack, dtype: int64

In [10]:
# Teraz zmieniamy nazwe jako index
# 1 sciezka dostepu do pliku
# 2 lista kolumn ktora jest uzywana 
# 3 jaki index chcemy index ktory wskazuje na Name 
# 4 squeeze Data Series
pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Attack'],index_col='Name').squeeze()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
                        ...
Diancie                  100
DiancieMega Diancie      160
HoopaHoopa Confined      110
HoopaHoopa Unbound       160
Volcanion                110
Name: Attack, Length: 800, dtype: int64

In [11]:
sep2 = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Attack'],index_col='Name').squeeze()

In [12]:
sep2['Charmander']

52

In [14]:
sep2['Ivysaur':'Charmander']

Name
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [15]:
sep2[['Ivysaur','Venusaur','Charmander']]

Name
Ivysaur       62
Venusaur      82
Charmander    52
Name: Attack, dtype: int64

In [ ]:
# sep1[['Ivysaur','Venusaur','Charmander']] bedzie blad 
# przekazane argumenty w napisie nie wystepuja w indeksie 
# sep2.loc[2] wartosc ktora znajduje sie w 2 pozycji Blad 
# sep2.iloc[2] zadziala 

# index_col ---> wybrac kolumne ktora bedzie indexem 
# usecols ---> nalezy wskazac nie tylko wartosc ktora wybieramy ale jescze kolumna ktora bedzie indexem