In [1]:
import pandas as pd 
import numpy as np

In [4]:
products = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/northwind-mongo-master/products.csv', usecols = ['ProductID','ProductName'])

In [6]:
orderedProducts = pd.read_csv('/Users/arturdanyliv/Downloads/course-files/northwind-mongo-master/order-details_del.csv',usecols = ['OrderID','ProductID','UnitPrice'])

In [7]:
products.head()

   ProductID                   ProductName
0          1                          Chai
1          2                         Chang
2          3                 Aniseed Syrup
3          4  Chef Anton's Cajun Seasoning
4          5        Chef Anton's Gumbo Mix

In [9]:
orderedProducts.head()

   OrderID  ProductID  UnitPrice
0    10331         54        5.9
1    10332         18       50.0
2    10332         42       11.2
3    10332         47        7.6
4    10333         14       18.6

In [12]:
merged = products.merge(right=orderedProducts, on='ProductID',how='outer',indicator=True)

In [13]:
merged.head()

   ProductID ProductName  OrderID  UnitPrice _merge
0          1        Chai  10348.0       14.4   both
1          1        Chai  10354.0       14.4   both
2          1        Chai  10370.0       14.4   both
3          1        Chai  10406.0       14.4   both
4          1        Chai  10413.0       14.4   both

In [14]:
merged['_merge'].value_counts()

both          289
left_only       5
right_only      0
Name: _merge, dtype: int64

In [15]:
filter = merged['_merge'] == 'left_only'

In [16]:
merged[filter]

     ProductID                   ProductName  OrderID  UnitPrice     _merge
16           6  Grandma's Boysenberry Spread      NaN        NaN  left_only
38          15                  Genen Shouyu      NaN        NaN  left_only
85          27            Schoggi Schokolade      NaN        NaN  left_only
242         66     Louisiana Hot Spiced Okra      NaN        NaN  left_only
243         67     Laughing Lumberjack Lager      NaN        NaN  left_only