In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math as math

In [3]:
frame = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Mcdonalds.csv")

In [8]:
series = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Mcdonalds.csv", usecols=["Item","Calories"],index_col="Item").squeeze()

In [9]:
type(frame)

pandas.core.frame.DataFrame

In [10]:
type(series)

pandas.core.series.Series

In [11]:
frame.Calories

0      300
1      250
2      370
3      450
4      400
      ...
255    510
256    690
257    340
258    810
259    410
Name: Calories, Length: 260, dtype: int64

In [12]:
type(frame.Calories)

pandas.core.series.Series

In [13]:
frame.Calories.mean()

368.2692307692308

In [14]:
frame.Calories.median()

340.0

In [15]:
frame.Calories.max()

1880

In [16]:
frame.Calories.idxmax()

82

In [17]:
frame.Item[82]

'Chicken McNuggets (40 piece)'

In [18]:
frame.Item[frame.Calories.idxmax()]

'Chicken McNuggets (40 piece)'

In [19]:
frame["Calories"].head()

0    300
1    250
2    370
3    450
4    400
Name: Calories, dtype: int64

In [20]:
s = frame["Item"]

In [21]:
type(s)

pandas.core.series.Series

In [22]:
s[242]

'Vanilla Shake (Medium)'

In [23]:
s.loc[242]

'Vanilla Shake (Medium)'

In [24]:
frame["Item"][242]

'Vanilla Shake (Medium)'

In [25]:
frame.loc[242]

Category                             Smoothies & Shakes
Item                             Vanilla Shake (Medium)
Serving Size                               16 fl oz cup
Calories                                            660
Calories from Fat                                   170
TotalFat                                           19.0
Total Fat (% Daily Value)                            29
Saturated Fat                                      12.0
Saturated Fat (% Daily Value)                        61
Trans Fat                                           1.0
Cholesterol                                          75
Cholesterol (% Daily Value)                          24
Sodium                                              200
Sodium (% Daily Value)                                9
Carbohydrates                                       109
Carbohydrates (% Daily Value)                        36
Dietary Fiber                                         0
Dietary Fiber (% Daily Value)                         0
Sugars                                               81
Protein                                              14
Vitamin A (% Daily Value)                            25
Vitamin C (% Daily Value)                             0
Calcium (% Daily Value)                              50
Iron (% Daily Value)                                  0
Name: 242, dtype: object

In [26]:
type(frame.loc[242])

pandas.core.series.Series

In [27]:
frame.loc[242].loc["Item"]

'Vanilla Shake (Medium)'

In [28]:
# frame[242,"Item"] # ---> Blad
frame.loc[242,"Item"]

'Vanilla Shake (Medium)'

In [29]:
frame["Calories"]

0      300
1      250
2      370
3      450
4      400
      ...
255    510
256    690
257    340
258    810
259    410
Name: Calories, Length: 260, dtype: int64

In [30]:
frame["Calories"].head()

0    300
1    250
2    370
3    450
4    400
Name: Calories, dtype: int64

In [31]:
frame[["Calories","TotalFat"]].head()

   Calories  TotalFat
0       300      13.0
1       250       8.0
2       370      23.0
3       450      28.0
4       400      23.0

In [33]:
frame[["Calories","TotalFat","Sugars"]].head()

   Calories  TotalFat  Sugars
0       300      13.0       3
1       250       8.0       3
2       370      23.0       2
3       450      28.0       2
4       400      23.0       2

In [34]:
frame[["Item","Calories","TotalFat","Sugars"]].head()
# [[]]

                               Item  Calories  TotalFat  Sugars
0                      Egg McMuffin       300      13.0       3
1                 Egg White Delight       250       8.0       3
2                  Sausage McMuffin       370      23.0       2
3         Sausage McMuffin with Egg       450      28.0       2
4  Sausage McMuffin with Egg Whites       400      23.0       2