In [1]:
import pandas as pd
import pandas as pd

In [2]:
incidents = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Canadian Railway Crossing Incidents.csv")
incidents.set_index(['Region','EventType'],inplace=True)
incidents.sort_index(inplace=True)

In [3]:
incidents.head(10)
# indexy eventtype i region

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0
                 Serious injuries                 3               0        0
Manitoba         Accidents                        1               3        0
                 Fatalities                       0               1        0
                 Serious injuries                 0               0        0
New Brunswick    Accidents                        0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0
                 Serious injuries     0
Manitoba         Accidents            2
                 Fatalities           0
                 Serious injuries     1
New Brunswick    Accidents            0

In [6]:
incidents.reset_index(inplace=True)
incidents.set_index(["EventType","Region"], inplace=True)
# Event type na pierwszym mejscu a region na drugim index --> nie jest kolumna 
# incidents.set_index(["EventType","Region"], inplace=True) jak napiszemy to bez tego : 
#.    incidents.reset_index(inplace=True) --> beddzie blad bo to nie wartosc a index

In [7]:
incidents.head()

,,level_0,index,Public automated,Public passive,Private,Farm
EventType,Region,,,,,,
Accidents,Alberta,0,0,3,7,2,0
Fatalities,Alberta,1,1,0,0,0,0
Serious injuries,Alberta,2,2,0,1,2,0
Accidents,British Columbia,3,3,4,1,0,0
Fatalities,British Columbia,4,4,0,0,0,0

In [8]:
incidents.sort_index(inplace=True)
# sortujemy we wlasciwy sposob 
# pierwszy segment EventType a 2 Region

In [9]:
incidents.head()

                            level_0  index  Public automated  Public passive  \
EventType Region
Accidents Alberta                 0      0                 3               7
          British Columbia        3      3                 4               1
          Manitoba                6      6                 1               3
          New Brunswick           9      9                 0               0
          Newfoundland           12     12                 0               0

                            Private  Farm
EventType Region
Accidents Alberta                 2     0
          British Columbia        0     0
          Manitoba                0     2
          New Brunswick           0     0
          Newfoundland            0     0

In [12]:
incidents.swaplevel().sort_index().head()
# incidents.swaplevel().head()
# # segment 0 ma sie stac segmentem pierwszym a segment 1 ma sie stac segmentem 0 
# jezeli multiindex sklada siez 5 poziomul moglibysmy 1 ma sie stac 4 a 5 0
# swaplevel
# zaminieamii wartosci 
# incidents.swaplevel(i=-2,j=-1,axis=0) 
# incidents.swaplevel().head()
# ---> jezeli nie przekazemy wartosci i i j to beda zamienione 2 najbardziej wewnetrzne('srodkowe wartosci od  do 5 to 3 i 4  ') poziomy 
# ---> w naszym przypadku multi index sklada sie z 2 kolumn 
# sort_index() ---> jeszcze sortujemy odrazu  ---> multi index oparty o region i event type

# swaplevel nie przyjmuje wartosci inplace i zeby zapisac wynnik musimy to napisac

                                   level_0  index  Public automated  \
Region           EventType
Alberta          Accidents               0      0                 3
                 Fatalities              1      1                 0
                 Serious injuries        2      2                 0
British Columbia Accidents               3      3                 4
                 Fatalities              4      4                 0

                                   Public passive  Private  Farm
Region           EventType
Alberta          Accidents                      7        2     0
                 Fatalities                     0        0     0
                 Serious injuries               1        2     0
British Columbia Accidents                      1        0     0
                 Fatalities                     0        0     0

In [13]:
incidents = incidents.swaplevel().sort_index()
# inplace = True

In [14]:
incidents.head()

                                   level_0  index  Public automated  \
Region           EventType
Alberta          Accidents               0      0                 3
                 Fatalities              1      1                 0
                 Serious injuries        2      2                 0
British Columbia Accidents               3      3                 4
                 Fatalities              4      4                 0

                                   Public passive  Private  Farm
Region           EventType
Alberta          Accidents                      7        2     0
                 Fatalities                     0        0     0
                 Serious injuries               1        2     0
British Columbia Accidents                      1        0     0
                 Fatalities                     0        0     0

In [ ]:
# W funkcji loc ma znaczenie kolejnosc jak mamy region a pozniej EventType to piszemy ['Alberta','Accidents']
# Jakby bylo EventType i Region no to wtedy piszemy ['Accidents','Alberta']

# Podsumowanie 
# set_index --> w jaki sposob budujemy multiindex 
# reset_index i set_index --> zmienic kolejnosc w multiindeksie wskazujac na kolumny w nowej kolejnosci wczesniej jest wazne uzyc reset_index
# swaplevel() --> zeby nie stosowac tych kilka krokow reset_kindex i set_index zaminic dwa poziomy i i j przekazewane do metody 
# sort_index --> dane nie sa sortowane automatycznie w odpowiedniej kolejnosci jesli chcemy zobaczyc odpowiednio ulozone 
# .loc tak jak wyzej napisane