In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math as math

In [2]:
pok = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Attack'],index_col='Name').squeeze()

In [3]:
pok.head() #

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [5]:
pokType = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Type 2'],index_col='Name').squeeze()

In [6]:
pokType.head
# podzielone na typy

<bound method NDFrame.head of Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
                          ...
Diancie                   Fairy
DiancieMega Diancie       Fairy
HoopaHoopa Confined       Ghost
HoopaHoopa Unbound         Dark
Volcanion                 Water
Name: Type 2, Length: 800, dtype: object>

In [7]:
pokType.value_counts()
# z jakimi typami mam doczenienie 
# czy te wartosci sa duze czy sa male

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [8]:
pokType.value_counts().head()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Name: Type 2, dtype: int64

In [9]:
pok.min()

5

In [10]:
pok.max()

190

In [11]:
pok.idxmin()

'Chansey'

In [12]:
pok.loc[pok.idxmin()]

5

In [13]:
pok.mean()
# srednia

79.00125

In [15]:
pok.median()
# mediana

75.0

In [17]:
pok.std()

32.45736586949843

In [ ]:
#######################################################

In [22]:
import pandas as pd 
listA = [1,1,1,2,3,5,29]
seriesA = pd.Series(listA)
seriesA

0     1
1     1
2     1
3     2
4     3
5     5
6    29
dtype: int64

In [23]:
listB = [4,4,4,6,6,8,10]
seriesB = pd.Series(listC)
seriesC

0     1
1     1
2     1
3     6
4     9
5    11
6    13
dtype: int64

In [24]:
listC = [1,1,1,6,9,11,13]
seriesC = pd.Series(listC)
seriesC

0     1
1     1
2     1
3     6
4     9
5    11
6    13
dtype: int64

In [26]:
print(listA)
print(listB)
print(listC)

[1, 1, 1, 2, 3, 5, 29]
[4, 4, 4, 6, 6, 8, 10]
[1, 1, 1, 6, 9, 11, 13]

In [27]:
seriesA.mean()

6.0

In [28]:
seriesB.mean()

6.0

In [29]:
seriesC.mean()

6.0

In [30]:
print(listA)
print(listB)
print(listC)

[1, 1, 1, 2, 3, 5, 29]
[4, 4, 4, 6, 6, 8, 10]
[1, 1, 1, 6, 9, 11, 13]

In [31]:
seriesA.std()
# odchylenie standardowe

10.246950765959598

In [35]:
seriesB.std()
# jego paczki sa bardziej do siebie podobne

5.131601439446884

In [36]:
seriesC.std()

5.131601439446884

In [37]:
pok.sum() / pok.count()
# srednia sila ataku pokemona 
# suma dzielaca przez ilosc

79.00125

In [38]:
pok.median()
# np jak sila jest 80 to dal by rade pokonac ponad polowe pokemonow 
# bo wiemy ze polowa z nich jest mniejsza od 75

75.0

In [39]:
pok.std()
# odcylenie standardowe 
# roznica w sile ataku pomiedzy pokemonami osceluje w granicach 32 punktow 
# jestesmy w okolicach 79 + 32

32.45736586949843

In [ ]:
# series.cout 
# series.values_counts()
# series.idxmin()
# series.idxmax()
# series.mean() srednia 
# series.median() mediana 
# series.std() odchylenie standardowe