In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import math as math

In [2]:
pok = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Attack']).squeeze()

In [3]:
pok.head()

                    Name  Attack
0              Bulbasaur      49
1                Ivysaur      62
2               Venusaur      82
3  VenusaurMega Venusaur     100
4             Charmander      52

In [5]:
pok.count()
# ile jest elementow w zbiorze

Name      800
Attack    800
dtype: int64

In [11]:
pokType = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/pokemon.csv",usecols=['Name','Type 2'],index_col='Name').squeeze()

In [15]:
pokType.head()
# jestesmy w sstanie podzielc na typy pokemony

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object

In [16]:
pokType.value_counts()
# dzielenie pokemonow na typy 
# zbior danych 
# ustawiony parametr sort i assending kolejnosc malejaca

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [18]:
pokType.value_counts().head()
# pierwsze 5

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Name: Type 2, dtype: int64

In [19]:
pok.min()

Name      Abomasnow
Attack            5
dtype: object

In [20]:
pok.max()

Name      Zygarde50% Forme
Attack                 190
dtype: object

In [23]:
# pok.idxmin() w nowszej wersji tego nie ma