In [1]:
import pandas as pd 
import numpy as np

In [3]:
incidents = pd.read_csv("/Users/arturdanyliv/Downloads/course-files/Canadian Railway Crossing Incidents.csv")
incidents.set_index(["Region","EventType"],inplace=True)
incidents.sort_index(inplace=True)

In [4]:
incidents.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [5]:
incidents.loc[("Alberta","Accidents")]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [6]:
incidents.loc[("Alberta")]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [7]:
incidents.loc["Alberta"]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        3               7        2     0
Fatalities                       0               0        0     0
Serious injuries                 0               1        2     0

In [8]:
incidents.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0

In [9]:
incidents.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [ ]:
incidents.x[('Alberta','Accidents')]

In [12]:
incidents.loc[('Alberta','Accidents')]

Public automated    3
Public passive      7
Private             2
Farm                0
Name: (Alberta, Accidents), dtype: int64

In [13]:
incidents.loc[('Alberta','Accidents')].loc['Public passive']

7

In [14]:
incidents.loc[('Alberta','Accidents'),'Public passive']

7

In [15]:
incidents.head()

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0